

.grid-container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  
  /* background-color: #2196F3; */
  padding: 10px;
}

#cmd {
  border: 1px solid lightslategray;
  background-color: black;
  width: 800px;
  height: 400px;
  color: whitesmoke;
  font-family: consolas;
  font-size: small;
  padding: 0px;
}

#task-bar {
  border: 1px solid grey;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
  font-family: Calibri;
  padding: 0;
  height: 28px;
}

#grid-item-1 {
  display: grid;
  justify-content: left;
  font-size: smaller;
  padding-left: 10px;
}

#grid-item-1-para {
  margin-top: auto;
  margin-bottom: auto;
}

#grid-item-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: right;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: smaller;
  color: black;
  padding-right: 10px;
}




